body {
	background-color: #ebe6ef;
}
/*! ************************************/
/* ! DB GRID MAPPING */
/*! ************************************/

.site {
	display: grid;
	grid-template-columns: 1fr 7fr;
	grid-gap: 10px;
	grid-template-areas: "header header" "sidebar main";
}

.mastheader {
	grid-area: header;
	background-color: #faf9fb;
	height: 7rem;
}

.sidebar {
	grid-area: sidebar;
	background-color: #faf9fb;
	height: calc(100vh - 70px);
	width: 25rem;
	overflow-y: scroll;
	overflow-x: hidden;
	transition: all 0.5s ease-in-out;
	border-radius: 8px;
	box-shadow: 0.5px 0.5px 0.5rem #cdc1d7;
	margin-left: 1.2rem;
}

.main {
	grid-area: main;
	grid-row: 2 / -1;
}

header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 7rem;
	padding: 0 3.2rem;
	border-radius: 8px;
	margin: 1.2rem;
	margin-bottom: 0.8rem;
	box-shadow: 0.5px 0.5px 0.5rem #cdc1d7;
	z-index: 1;
}

.logo {
	height: 4.8rem;
}

.logo:hover {
	cursor: pointer;
}

.searchbar input {
	width: 25rem;
	height: 3.6rem;
	border-radius: 8px;
	padding: 0 1.8rem;
	font-size: 1.4rem;
	outline: none;
	border: 0.5px solid #2b2031;
}

.profile-pic {
	height: 3.6rem;
	width: 3.6rem;
	border-radius: 50%;
	border: 2px solid #5e4870;
}

.profile-pic:hover {
	cursor: pointer;
}

.notification-icon {
	height: 3rem;
	width: 3rem;
	color: #5e4870;
}

.notification-icon:hover {
	cursor: pointer;
}

.right-icons {
	display: flex;
	gap: 3.2rem;
	margin-left: 8rem;
	margin-right: 3.2rem;
}

/*! ************************************/
/* ! DB SIDEBAR */
/*! ************************************/
.sidebar {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	overflow: hidden;
	padding-left: 1.4rem;
}

.nav {
	padding-top: 1.4rem;
	padding-left: 1.2rem;
}

.nav-option {
	width: 250px;
	height: 60px;
	display: flex;
	align-items: center;
	gap: 20px;
	transition: all 0.1s ease-in-out;
}

.nav-option a {
	text-decoration: none;
	color: #2b2031;
}

.nav-option a:hover {
	cursor: pointer;
	color: #288f72;
}

.nav-lower-options h5 {
	font-size: 1.4rem;
	font-weight: 400;
	margin: 3.2rem 0.8rem;
}

#active-tab {
	color: #56d0ae;
}

/*! ************************************/
/* ! DB MAIN BODY */
/*! ************************************/
/* .main {
	margin-left: 30rem;
	max-width: 7100vw;
}
*/
.topic-heading {
	/* margin-bottom: 2.4rem; */
}

.topic-heading.cal {
	margin-bottom: 1.6rem;
}
.row-container {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr 4fr;
	column-gap: 1.4rem;
	row-gap: 1.4rem;
	margin-right: 1.2rem;
	height: calc(100vh - 70px);
}

.box {
	background-color: #faf9fb;
	width: 100%;
	box-shadow: 0.5px 0.5px 0.5rem #ddd6e2;
	border-radius: 8px;
	padding: 1.6rem;
}

.box3 {
	grid-column: 3 / 3;
	grid-row: 1 / span 2;
}

.box4 {
	grid-column: 1 / span 2;
}

/* ! DB PRIORITY BOX */
.to-do {
	margin-top: 1.6rem;
	display: flex;
	align-items: center;
	margin-left: 0.8rem;
}

.to-do p {
	margin-left: 1.6rem;
	font-size: 1.8rem;
	margin-top: auto;
	margin-bottom: auto;
}

.p1 {
	color: #f61067;
	font-weight: 700;
}

.p2 {
	color: orange;
}

.p3 {
	color: #2b2031;
}

.checkbox:hover {
	cursor: pointer;
}

/* ! DB OVERDUE TASKS BOX */

/* ! DB CALENDAR */

body {
	line-height: 1.5;
	min-height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #2b2031;
}

button {
	font: inherit;
	cursor: pointer;
	&:focus {
		outline: 0;
	}
}

.datepicker {
	width: 95%;
	max-width: 350px;
	background-color: #faf9fb;
	border-radius: 10px;
	box-shadow: 0 0 2px 0 rgba(#000, 0.2), 0 5px 10px 0 rgba(#000, 0.1);
	padding: 1rem;
}

.datepicker-top {
	margin-bottom: 1rem;
}

.btn-group {
	display: flex;
	flex-wrap: wrap;
	padding: 0.1rem;
	margin-bottom: 1rem;
	margin-top: -0.5rem;
	align-items: center;
	justify-content: space-between;
}

.tag {
	margin-right: 0.5rem;
	/* margin-top: 0.5rem; */
	border: 0;
	background-color: #ebe6ef;
	border-radius: 8px;
	padding: 0.5em 0.75em;
	font-weight: 600;
	font-size: 1.2rem;
	box-shadow: 0rem 0.1rem 0.3rem #ddd6e2;
}

.month-selector {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.arrow {
	display: flex;
	align-items: center;
	justify-content: center;
	border: 0;
	background-color: #faf9fb;
	border-radius: 12px;
	width: 2.5rem;
	height: 2.5rem;
	box-shadow: 0 0 2px 0 rgba(#000, 0.25), 0 0 10px 0 rgba(#000, 0.15);
}

.month {
	font-size: 1.4rem;
	font-weight: 600;
}

.datepicker-calendar {
	display: grid;
	grid-template-columns: repeat(7, 1fr);
	grid-row-gap: 1rem;
}

.day,
.date {
	justify-self: center;
}

.day {
	color: #b8a9c6;
	font-size: 0.875em;
	font-weight: 500;
	justify-self: center;
}

.date {
	border: 0;
	padding: 0;
	width: 2.25rem;
	height: 2.25rem;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 6px;
	font-weight: 600;
	border: 2px solid transparent;
	background-color: transparent;
	cursor: pointer;
	&:focus {
		outline: 0;
		color: #2b2031;
		border: 2px solid #f61067;
	}
}

.faded {
	color: #b8a9c6;
}

.current-day {
	color: #fff;
	border-color: #56d0ae;
	background-color: #56d0ae;
	&:focus {
		background-color: #f61067;
	}
}

.calendar-divider {
	color: #b8a9c6;
	max-width: 95%;
	margin: 1.4rem 1.4rem 1.2rem 0;
}

/* ! DB TODAY'S TASKS */
.today {
	margin-left: 2.4rem;
}

.task-nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.task-nav .btn {
	font-weight: 500;
	font-size: 1.6rem;
	border: none;
	background-color: #90e0c9;
	padding: 0.8rem;
	color: #2b2031;
	transition: all 0.3s;
}

.task-nav .btn:hover {
	color: #faf9fb;
	background-color: #288f72;
}
