/* 

--- 01 TYPOGRAPHY SYSTEM

Font: Reddit Sans, sans serif

- Font sizes (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

- Font Weights
- Default: 400
- Medium: 500 
- Semi-Bold: 600
- Bold: 700

- Line Heights: 
- Default: 1
- Small: 1.05
- Medium: 1.2
- Paragraph default: 1.6

- Letter Spacing:
0.5 px
0.75 px

- SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128


--- 02 COLORS

- Primary: #56d0ae #FAF9FB

- Tints:  
#90E0C9
- Shades: 
#288F72
#c50d52
- Accents: 
#f61067
#ECFB77 

- Grays:
#2B2031 
#b8a9c6


--- 05 SHADOWS
0.3rem 0.3rem 1rem #b8a9c6;

--- 06 BORDER-RADIUS
- Default: 8px
- 


--- 07 WHITESPACE
- Spacing System (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
*/

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

html {
	/* font-size: 10px; */
	font-size: 62.5%;
}

body {
	font-family: "Commissioner", sans-serif;
	line-height: 1;
	font-weight: 400;
	color: #2b2031;
	background-color: #fbf7ff;
}

/*! ************************************/
/* ! GENERAL COMPONENTS */
/*! ************************************/

.heading-primary,
.heading-tertiary .heading-secondary {
	font-weight: 600;
	letter-spacing: -0.5px;
	text-align: center;
	line-height: 1.2;
}

.heading-primary {
	font-weight: 800;
	font-size: 7.4rem;
	margin-bottom: 3.2rem;
	color: #2b2031;
}

.heading-secondary {
	font-family: 4.4rem;
	text-align: center;
	font-weight: 600;
}

.heading-tertiary {
	font-weight: 600;
	font-size: 1.8rem;
	margin-bottom: 3.2rem;
	color: #b8a9c6;
}

.heading-fourth {
	font-size: 2.4rem;
	font-weight: 600;
	letter-spacing: 2px;
	padding: 1.6rem 1.2rem;
	margin-bottom: 0rem;
	border: 1.5px solid #2b2031;
	border-bottom: none;
}

.pink-h4 {
	background-color: #f61067;
	color: #faf9fb;
}
.teal-h4 {
	background-color: #56d0ae;
	color: #faf9fb;
}
.green-h4 {
	background-color: #ecfb77;
	color: #2b2031;
}
.purple-h4 {
	background-color: #b8a9c6;
	color: #faf9fb;
}

.btn {
	background-color: #f61067;
	font-size: 2rem;
	border: 3px dashed #2b2031;
	color: #faf9fb;
	text-decoration: none;
	font-weight: 600;
	letter-spacing: 1.2px;
	box-shadow: 0.3rem 0.3rem 1rem #b8a9c6;
}

/* ! ************************************/
/* ! LAYOUT GRIDS */
/* ! ************************************/

.container {
	/* 1140px is also a common width */
	max-width: 120rem;
	margin: auto 0 1.2rem 0;
	padding: 0 0;
}

.grid {
	display: grid;
	row-gap: 1.2rem;
	column-gap: 1.2rem;
}

.grid--2-cols {
	grid-template-columns: repeat(2, 1fr);
}

.grid--3-cols {
	grid-template-columns: repeat(3, 1fr);
	width: 100%;
}

.grid--4-cols {
	grid-template-columns: repeat(4, 1fr);
}

.grid--center-v {
	align-items: center;
}
