/* 

--- 01 TYPOGRAPHY SYSTEM

Font: Reddit Sans, sans serif

- Font sizes (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

- Font Weights
- Default: 400
- Medium: 500 
- Semi-Bold: 600
- Bold: 700

- Line Heights: 
- Default: 1
- Small: 1.05
- Medium: 1.2
- Paragraph default: 1.6

- Letter Spacing:
0.5 px
0.75 px

- SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128


--- 02 COLORS

- Primary: #56d0ae #FAF9FB

- Tints:  
#90E0C9
- Shades: 
#288F72
#c50d52
- Accents: 
#f61067
#ECFB77 

- Grays:
#2B2031 
#b8a9c6


--- 05 SHADOWS
0.3rem 0.3rem 1rem #b8a9c6;

--- 06 BORDER-RADIUS
- Default: 8px
- 


--- 07 WHITESPACE
- Spacing System (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
*/

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

html {
	/* font-size: 10px; */
	font-size: 62.5%;
}

body {
	font-family: "Commissioner", sans-serif;
	line-height: 1;
	font-weight: 400;
	color: #2b2031;
	background-color: #faf9fb;
}

/*************************************/
/* GENERAL COMPONENTS */
/*************************************/

.heading-primary,
.heading-tertiary {
	font-weight: 600;
	letter-spacing: -0.5px;
	text-align: center;
	line-height: 1.2;
}

.heading-primary {
	font-weight: 800;
	font-size: 7.4rem;
	margin-bottom: 3.2rem;
	color: #2b2031;
}

.heading-tertiary {
	font-weight: 600;
	font-size: 1.8rem;
	margin-bottom: 3.2rem;
	color: #b8a9c6;
}

.btn {
	background-color: #f61067;
	font-size: 1.8rem;
	border: 3px dashed #2b2031;
	color: #faf9fb;
	text-decoration: none;
	font-weight: 600;
	letter-spacing: 1.2px;
	box-shadow: 0.3rem 0.3rem 1rem #b8a9c6;
}

.container {
	/* 1140px is also a common width */
	max-width: 120rem;
	margin: 0 auto;
	padding: 0 3.2rem;
}

.grid {
	display: grid;
	row-gap: 9.6rem;
	column-gap: 6.4rem;
}

.grid--2-cols {
	grid-template-columns: repeat(2, 1fr);
}

.grid--3-cols {
	grid-template-columns: repeat(3, 1fr);
}

.grid--4-cols {
	grid-template-columns: repeat(4, 1fr);
}

.grid--center-v {
	align-items: center;
}

/*************************************/
/* HEADER */
/*************************************/

.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #faf9fb;
	height: 9.6rem;
	padding: 0 4.8rem;
	position: relative;
}

.logo {
	height: 6.4rem;
}

/*************************************/
/* NAVIGATION */
/*************************************/

.main-nav-list {
	list-style-type: none;
	display: flex;
	gap: 3.2rem;
	align-items: center;
}

.main-nav-link:link,
.main-nav-link:visited {
	display: inline-block;
	text-decoration: none;
	font-weight: 500;
	font-size: 1.8rem;
	transition: all 0.3s;
}

.main-nav-link:hover,
.main-nav-link:active {
	color: #c50d52;
}

.main-nav-btn:link,
.main-nav-btn:visited {
	padding: 1.2rem 2rem;
	font-weight: 600;
	letter-spacing: 1.2px;
	border-radius: 8px;
}

.main-nav-btn:hover,
.main-nav-btn:active {
	background-color: #c50d52;
	color: #faf9fb;
}

.man-nav-btn-outline:link,
.man-nav-btn-outline:visited {
	border-radius: 8px;
	border: 2px dashed #f61067;
	padding: 1rem 2rem;
}

.man-nav-btn-outline:hover,
.man-nav-btn-outline:active {
	border: 2px dashed #2b2031;
}

/*************************************/
/* HERO */
/*************************************/

.section-hero {
	padding: 4.8rem 0 9.6rem 0;
	position: relative;
	background-image: url(../assets/hero-bkg.png);
	background-size: 100%;
	background-position: top;
	background-repeat: no-repeat;
}

.hero {
	max-width: 150rem;
	margin: 0 auto;
	padding: 0 3.2rem;
}

.hero-img {
	width: 100%;
	margin-bottom: 3.2rem;
}

.hero-description {
	font-size: 2.2rem;
	line-height: 1.6;
	font-weight: 400;
	color: #2b2031;
	margin-bottom: 3.2rem;
}

.hero-text-box {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100%;
	max-width: 670px;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

.hero-cta-btn:link,
.hero-cta-btn:visited {
	padding: 2.4rem 3.2rem;
	border-radius: 8px;
	margin-bottom: 4.8rem;
	transition: all 0.3s;
}

.hero-cta-btn:hover,
.hero-cta-btn:active {
	background-color: #c50d52;
}

/*************************************/
/* FEATURES / BENEFITS */
/*************************************/

/*************************************/
/* HOW IT WORKS / GAMIFICATION */
/*************************************/

/*************************************/
/* TESTIMONIALS */
/*************************************/

/*************************************/
/* PRICING / CTA */
/*************************************/

/*************************************/
/* FOOTER */
/*************************************/
