/* ! ************************************/
/* ! HEADER */
/* ! ************************************/

.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #fbf7ff;
	height: 9.6rem;
	padding: 0 4.8rem;
	position: relative;
}

.logo {
	height: 6.4rem;
}

/* ! ************************************/
/* ! NAVIGATION */
/* ! ************************************/

.main-nav-list {
	list-style-type: none;
	display: flex;
	gap: 3.2rem;
	align-items: center;
}

.main-nav-link:link,
.main-nav-link:visited {
	display: inline-block;
	text-decoration: none;
	font-weight: 500;
	font-size: 1.8rem;
	transition: all 0.3s;
	color: #2b2031;
}

.main-nav-btn:link,
.main-nav-btn:visited {
	display: inline-block;
	text-decoration: none;
	font-weight: 500;
	font-size: 1.8rem;
	transition: all 0.3s;
	color: #faf9fb;
}

.main-nav-link:hover,
.main-nav-link:active {
	color: #c50d52;
}

.main-nav-btn:link,
.main-nav-btn:visited {
	padding: 1rem 1.6rem;
	font-weight: 600;
	letter-spacing: 1.2px;
	border-radius: 8px;
	display: inline-block;
	text-decoration: none;
	font-weight: 500;
	font-size: 1.8rem;
	transition: all 0.3s;
	color: #faf9fb;
}

.main-nav-btn:hover,
.main-nav-btn:active {
	background-color: #c50d52;
	color: #faf9fb;
}

.man-nav-btn-outline:hover,
.man-nav-btn-outline:active {
	background-color: #c50d52;
	color: #faf9fb;
	border: solid #c50d52;
}

.man-nav-btn-outline:link,
.man-nav-btn-outline:visited {
	border-radius: 8px;
	border: 2px dashed #f61067;
	padding: 1rem 2rem;
	display: inline-block;
	text-decoration: none;
	font-weight: 500;
	font-size: 1.8rem;
	transition: all 0.3s;
	color: #faf9fb;
}

.man-nav-btn-outline:hover,
.man-nav-btn-outline:active {
	border: 2px dashed #2b2031;
}

/* ! ************************************/
/* ! HERO */
/* ! ************************************/

.section-hero {
	padding: 4.8rem 0 9.6rem 0;
	position: relative;
	background-image: url(../assets/hero-bkg.png);
	background-size: 100%;
	background-position: top;
	background-repeat: no-repeat;
}

.hero {
	max-width: 150rem;
	margin: 0 auto;
	padding: 0 3.2rem;
	margin-bottom: 8rem;
}

.hero-img {
	width: 100%;
	margin-bottom: 3.2rem;
}

.hero-description {
	font-size: 2.2rem;
	line-height: 1.6;
	font-weight: 400;
	color: #2b2031;
	margin-bottom: 3.2rem;
}

.hero-text-box {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100%;
	max-width: 670px;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

.hero-cta-btn:link,
.hero-cta-btn:visited {
	padding: 2rem 3.2rem;
	border-radius: 8px;
	margin-bottom: 4.8rem;
	transition: all 0.3s;
}

.hero-cta-btn:hover,
.hero-cta-btn:active {
	background-color: #c50d52;
}

/* ! ************************************/
/* ! FEATURES / BENEFITS */
/* ! ************************************/

.features .heading-secondary {
	font-size: 4.4rem;
	font-weight: 600;
	margin-bottom: 5.2rem;
}

.features .heading-tertiary {
	color: #faf9fb;
	margin-bottom: 1.4rem;
	text-align: center;
}
.features-section {
	background-color: #f61067;
	padding-top: 4.8rem;
	padding-bottom: 4.8rem;
}
.features {
	max-width: 120rem;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 9.6rem;
}

.card-img-top {
	height: 27rem;
	width: 100%;
	display: flex;
}

.card-title {
	font-size: 2.4rem;
}

.card-text {
	font-size: 1.6rem;
	line-height: 1.5;
	color: #2b2031;
}

.card {
	margin-right: 1.8rem;
	margin-left: 1.8rem;
}

.feature-icon {
	height: 4.4rem;
	width: 4.4rem;
	margin-bottom: 1rem;
	margin-right: 0.8rem;
}

/* ! ************************************/
/* ! HOW IT WORKS / GAMIFICATION */
/* ! ************************************/

/* ? Comic Book Features Layout */
/* .features-section {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.features {
	max-width: 120rem;
}

.features-heading {
	font-size: 4.8rem;
	font-weight: 700;
	margin-bottom: 1.2rem;
	padding: 6.4rem;
	background-color: #f61067;
	color: #faf9fb;
	text-align: center;
	border: 1.5px solid #2b2031;
}

.features-card-img {
	width: 100%;
	border-radius: 8px;
	border: 1.5px solid #2b2031;
	border-top: none;
	height: 245px;
}

.features-text {
	font-size: 1.6rem;
	font-weight: 600;
	padding-left: 1.2rem;
	padding-bottom: 2.4rem;
	border: 1.5px solid #2b2031;
	border-bottom: none;
	border-top: none;
	margin-bottom: 0;
} */

/* ? Comic Book How It Works Layout */
/* .how-it-works-section {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.how-it-works {
	max-width: 120rem;
}

.how-it-works-heading {
	font-size: 4.8rem;
	font-weight: 700;
	margin-bottom: 1.2rem;
	padding: 6.4rem;
	background-color: #ecfb77;
	color: #2b2031;
	text-align: center;
	border: 1.5px solid #2b2031;
}

.how-it-works-img {
	width: 100%;
	border-radius: 8px;
	border: 1.5px solid #2b2031;
	border-top: none;
	height: 245px;
}

.how-it-works-text {
	font-size: 1.6rem;
	font-weight: 600;
	padding-left: 1.2rem;
	padding-bottom: 2.4rem;
	border: 1.5px solid #2b2031;
	border-bottom: none;
	border-top: none;
	margin-bottom: 0;
} */

/* ! ************************************/
/* ! PRICING / CTA */
/* ! ************************************/
.container {
	max-width: 960px;
	--bs-gutter-x: 1.5rem;
	--bs-gutter-y: 0;
	width: 100%;
	padding-right: calc(var(--bs-gutter-x) * 0.5);
	padding-left: calc(var(--bs-gutter-x) * 0.5);
	margin-right: auto;
	margin-left: auto;
	margin-top: 2.4rem;
}

.pricing-header-text {
	font-size: 1.8rem !important;
	line-height: 2.8rem !important;
}

.py-3 {
	padding-top: 1rem !important;
	padding-bottom: 1rem !important;
}

div {
	display: block;
	unicode-bidi: isolate;
}

@media (min-width: 768px) {
	.row-cols-md-3 > * {
		flex: 0 0 auto;
		width: 33.33333333%;
	}
}

.border-primary {
	--bs-border-opacity: 1;
	border-color: #56d0ae !important;
}

.text-bg-primary {
	color: #fff !important;
	background-color: #56d0ae !important;
}

.btn-lg {
	background-color: #f61068db;
	border: 2px dashed #2b2031;
	transition: all 0.3s;
}

.btn-lg:hover,
.btn-lg:active {
	color: #fff !important;
	background-color: #56d0ae !important;
	border: 2px solid #56d0ae !important;
}

.list-unstyled {
	font-size: 1.4rem;
	line-height: 1.6;
}

/* ! ************************************/
/* ! FOOTER */
/* ! ************************************/
footer {
	padding-left: 4.8rem;
}
