@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Libre+Caslon+Text:ital,wght@0,400;0,700;1,400&display=swap');

:root {
    --bg-color: #f5f8ff;
    --main-color: #3D4946;
    --secondary-color: #8faba4;
    --dark-text-color: #576965;
    --light-text-color: #f5f8ff;
    --secondary-dark-color: #50756c;
    --tag-color-one: #e0fbf6;
    --tag-color-text-one: #4BC3B5;
    --tag-color-two: #ece7fe;
    --tag-color-text-two: #8972f3;
    --tag-color-three: #fde7ea;
    --tag-color-text-three: #D175B7;
    --tag-color-four: #f7f8fc;
    --tag-color-text-four: #a0a6b5;
    --checkbox-color: #D175B7;
    --button-color: #4BC3B5;
    --box-color: #fff1d6;
    --box-color-2: #d3e6ff;
    --box-color-3: #ffd9d9;
    --box-color-4: #daffe5;
    --task-color: #777982;
}

body, .item, .top-part, .top-part .count {
    display: flex;
    align-items: center;
}

body {
    margin: 0;
    justify-content: center;
    flex-direction: column;
    overflow: auto;
    height: 100vh;
    padding: 20px;
    font-family: 'Raleway', sans-serif;
    font-size: 17px;
    background-image: linear-gradient(
        21deg,
        #4BC3B5, #D175B7
        ),
        linear-gradient(
            163deg,
            #4BC3B5, #D175B7
        ),
        linear-gradient(30deg, #4BC3B5, #D175B7),
        linear-gradient(48deg, #D175B7, #4BC3B5);
    background-blend-mode: overlay, multiply, color, normal;
    background-size: contain;
}

.task-manager {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1700px;
    margin-top: 20px;
    height: 100vh;
    max-height: 100vh;
    background: #fff;
    border-radius: 4px;
    box-shadow: 0 0.3px 2.2px rgba(0, 0, 0, 0.011), 0 0.7px 5.3px rgba(0, 0, 0, 0.016),
    0 1.3px 10px rgba(0, 0, 0, 0.02), 0 2.2px 17.9px rgba(0, 0, 0, 0.024),
    0 4.2px 33.4px rgba(0, 0, 0, 0.029), 0 10px 80px rgba(0, 0, 0, 0.04);
    overflow: hidden;
}

.navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%
}

.container {
    margin: 45px 15px 5px 15px;
    width: auto;
    align-items: center;
}
